.tags{display:block;overflow:hidden;width:35%;}
.tags{float:left;margin:6px 1px;overflow:hidden;display:block;}
.tags label{line-height: 40px;margin: 0 3px 0 0;padding:3px 8px;font-size:11px;text-decoration:none;-moz-border-radius:15px;-webkit-border-radius:15px;}
.tags label:hover{border-color:#1BA7D6;}
.tags{color:#000!important; font-family: 'Molengo', serif}
.tags label{background:#DBDEE6;border:1px solid #1BA7D6; font-size: 16px;}
.tags label:hover{background:#F2142A;border-color:#0645F2;}

#container{
	position: relative;
	width: 95%;
	border: 3px;
	margin: 0 auto;
}

#header{
	display: inline-block;
	width: 95%;
}

#profile{
	position: relative;
	float: left;
	width: 40%;
	margin: 0 auto;
	padding: 5px;	
	background-color: rgb(50, 150, 200);
}

#profileLeft {
	float: left;
	width: 40%;
	margin: 2% 4% 0 2%;
}

#profileRight {
	float: left;
	width: 50%;
	height: 95%;
	margin: 2% 0 0 0;
}

#photo {
	padding: 1%;
	float: right;
	width: 80%;
	margin-top: 10%;
	background-repeat: no-repeat;
}

#photo img{
	width: 60%;	
}

#profProfile{
	position: relative;
	width: 95%;
	/*border: 2px solid #2a3b4c;*/
	float: left;
	margin: 2% 4% 0 2%;
	padding: 0px;	
}

#profProfile p {
	text-align: justify;
	width: 90%;
	float: left;
}