@font-face {
    font-family: MyriadProBold;
    src: local("MyriadProBold"), url("resources/fonts/MYRIADPRO-BOLD.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyriadProBoldCondit;
    src: local("MyriadProBoldCondit"), url("resources/fonts/MYRIADPRO-BOLDCONDIT.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MyriadProBlackCondensed;
    src: local("MyriadProBlackCondensed"), url("resources/fonts/MYRIADPRO-BOLDCOND.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

.tags_ever {      
	background-color: #5C0001;
    border-radius: 20px 20px 20px 20px;     
    float: left;     
    position: fixed;  
    margin-top: 12%;           
    margin-left: 5%;  
    overflow: hidden;     
    text-align: center;     
    width: 17%; 
}

.go_top {
	color: red;
	font-family: 'MyriadProBold', Arial, Verdana;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;	
	margin-bottom: 12%;
	margin-top: 9%;
	padding: 0.4%;
	width: 4%
}

.go_top a:visited {
	color: red;
}

.interests {
	float: left;
	margin: 0 auto;
	width: 30%;	
}

.interests h3 {
    color: #FFFFFF;
    float: left;
    font-family: 'MyriadProBlackCondensed', Arial, Verdana;
    font-size: 47px;
    font-weight: bold;
    line-height: 80px;
    margin: 5% 0 0 5%;
    padding: 0 10px;
    text-transform: uppercase;	
}

.tags{
	display:block;
	overflow:hidden;
	width:90%;
	float: left;
	margin: 2% 0% 2% 5%;
}
.tags label{
	line-height: 40px;
	margin: 0 3px 0 0;
	padding:3px 8px;
	font-size: 11px;
	text-decoration:none;
	border-radius:50px;
}
.tags label:hover{
	/*border-color:#1BA7D6;*/
}

.tags{
	font-family: 'MyriadProBoldCondit', Arial, Verdana;
	color:#FFF!important; 
	text-transform: lowercase;
}
.tags label{
	background:#450001;
	border:1px solid #FEB600; 
	font-size: 16px;
}
.tags label:hover{
	/*background:#F2142A;*/
	/*border-color:#0645F2;*/
	text-transform: uppercase;
	font-weight: bold;
}

/* Class Definitions*/

.font_default {
	font-family: 'MyriadProBold', Arial, Verdana;
	color: white;
}

.top {
	background: none repeat scroll 0 0 #450001;	
	display: inline-block;
	margin-left: 1.5%;
	margin-top: 2%;
	width: 96%;	
	color: #FFF;
}

.top #profile {
	background-color: #480001;
	width: 100%;
}

.top h1 {	
	font-family: 'MyriadProBold', Arial, Verdana;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: -2px;
    line-height: 35px;
    margin-top: 0;
}

.top h2 {
	color: #FEB600;
	font-family: 'MyriadProBold', Arial, Verdana;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
    line-height: 10px;
    margin-bottom: 0;
    margin-top: 7%;
} 

.top p {
	color: #FFF;
	font-family: 'MyriadProBoldCondit', Arial, Verdana;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 110%;
    line-height: 16px;
} 

.top .profileLeft {
	float: left;
	width: 55%;
	margin: 2% 4% 0 3%;
}

.top .profileLeft p {
	text-indent: 5%;
}

.top .profileRight {
	float: left;
	width: 35%;
	height: 95%;
	margin: 2% 0 0 0;
}

.top .profileRight .imgContainer { 
	float: right;
	width: 97%;
	height: 100%;
 	background: none repeat scroll 0 0 #FFFFFF;
    padding: 6% 0 6% 0;
    text-align: center;	
}

.top .profileRight .imgContainer img { 
	width: 98%;	
	margin-left: 0;
	margin-right: 0;
}

.top .profProfile{
	display: inline-block;
	position: relative;
	width: 95%;
	margin: 1% 0 0 3%;
	padding-top: 0;	
	padding-right: 0;
}

.top .profProfile h2 { 
	width: 100%;
	margin-top: 1%;
	margin-right: 0;
}

.top .profProfile p { 
	text-align: justify;
	width: 100%;
	float: left;	
	text-indent: 17%;
	margin-right: 0;
	padding-right: 1%;
}

.middle {
	width: 96%;
	margin: 0 auto;
}

.block {
	width: 99%;
	margin: 0 auto;
	display: inline-block;
}

.title {
	float: left;
	background: none repeat scroll 0 0;
	width: 20%;
}

.content {
	float: left;
	margin-top: 2.5%;
	margin-left: 3%;
}

.content h4 {	
	width: 50%;
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
    line-height: 110%;
    margin-bottom: 0;
    margin-top: 7%;	
}

.content .skills_block {
	width: 25%;
	float: left;
}

.experience {
	background-color: #959302;
}

.education {
	background-color: #CE321B;
}

.projects {
	background-color: #959302;
}

.languajes {
	background-color: #004E7B;
}

.skills {
	background-color: #959302;
	margin-left: 110%;
}

h3 {
    color: #FFFFFF;
    float: left;
    font-family: 'MyriadProBlackCondensed', Arial, Verdana;
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    margin: 30px 0 17px;
    padding: 0 10px;
    text-transform: uppercase;	
}

/* End Class Definitions */

/* Id Definitions */

#container{
	background-color:  #5C0001;
	position: relative;
	width: 75%;
	border: 3px;
	margin: 0 auto;
	margin-left: 24%;
}

#profile{
	position: relative;
	float: left;
	width: 40%;
	margin: 0 auto;
	padding: 5px;	
	/*background-color: rgb(50, 150, 200);*/
}

#photo {
	float: right;
	width: 80%;
	margin-top: 10%;
	background-repeat: no-repeat;
}

/* End Id Definitions */

/* Tags Definitions */
img {
    border: 0 none;
    margin: 0;
    padding: 0;	
}

a:link { text-decoration: none; color: red; }
a:hover { text-decoration: overline; }
a:visited { color: brown; }

/* End Tags Definitions */

